*{
    margin: 0;
    padding: 0;
}
.navbar{
/*    background-color: #333;*/
}

.navbar .nav-1{
    background-color: #ccc;
    height: 102px;
/*    margin-bottom: 17px;*/
}


.nav-1-left{
    float: left;
    width: 30%;
    height: 70px;
    padding: 10px 0 0 10px;
    margin-top: 5px;
}

.nav-1-right{
    float: right;
    height: 70px;
    width: 35%;
    padding: 10px 0 0 10px;

}

.nav-right-container{
    background-color: #ece8e8;
    height: 50px;
    padding: 8px;
    margin: 7px 15px;
}

.nav-right-container .btn{
    width: 70px;
    background-color: #7f7e7c;
    text-transform: uppercase;
    color: #333;
    height: 22px;
}

.nav-1-right-desc{
    margin-bottom: 8px;
}

.form-control{
    height: 22px;
    border-radius: 3px;
    border: 0;
    margin-right: 5px;
}

.nav-1-left-title{
    font-size: 2em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.nav-1-left-desc{
    text-transform: uppercase;
}

.navbar .nav-2{
    background-color: #333;
}

.nav-2 .nav-2-list{
    list-style: none;
}

.nav-2-list .active{
    
 background-color: #607bf2;
}  

.nav-2-list .item-right{
    float: right;
    margin: 7px 15px;
}

.item-right input{
    width: 250px;
    height: 24px;
    border-radius: 3px;
    border: 0;
}

.item-right button{
    width: 88px;
    height: 24px;
    background-color: #607bf2;
    border: 0;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase
}
.nav-2 .nav-2-list-item{
    display: inline-block;
    padding: 10px;
    text-transform: capitalize;
    color: #fff;
    margin-right: 25px;
}

.nav-2-list-item a{
    text-decoration: none;
    color: #fff;
}

.nav-2-list-item:hover{
    background-color: #2747E4;
}


.clear{
    clear: both;
}

/* strat home section */

.container{
    width: 98%;
    margin: 10px auto;
}

.home-container{
    width: 60%;
    float: left;
    background-color: #607bf2;
    color: #fff;
    height: 350px;
}

.home-content{
    margin-top: 70px;
    position: relative;
}

.home-content-title{
    text-transform: capitalize;
    margin: 30px 0 30px 20px;;
    width: 700px;
}
.home-content-desc{
    text-transform: capitalize;
    margin-left: 20px;
    width: 700px;
    line-height: 1.8;
}
.home-btn{
    background-color: #afbdbd;
    height: 30px;
    margin-top: 30px;
    color: #fff;
    width: 229px;
    border: 0;
    position: absolute;
    right: 93px;
    cursor: pointer;
    transition: color 0.5s;
}
.home-btn:hover{
    background-color: #9da9a9;
}
.home-img-container{
    width: 40%;
    float: left;
}

.home-img-container img{
    width: 100%;
    height: 350px
}
/* end home section */

/* start item section */

.items{
    overflow: hidden;
}
.item{
    width: 32%;
    float: left;
}

.item-content{
    float: left;
    width: 65%;
    margin-left: 8px;
    position: relative;
    
}

.item-img-container{
    float: left;
    width: 32.66%;
}

.item-img-container img {
    width: 100%;
    height: 180px;
} 

.item-title{
    font-size: 1.5em;
    text-transform: capitalize;
    border-bottom: 2px solid;
    background: whitesmoke;
    display: block;
    margin-top: 8px;
    color: #888;
    
}
.item-desc{
    margin-top: 10px;
    line-height: 1.4;
    color: #9da9a9;
}

.item-btn{
    width: 170px;
    height: 25px;
    position: absolute;
    margin-top: 20px;
    right: 0;
    text-transform: uppercase;
    background-color: #999;
    color: #fff;
    border: 0;

}
.middle{
    margin: 0 26px;
}
/* end items section */


/* start section-3 section */
.section-3{
  overflow: hidden;
  margin-top: 20px;
}

.section-3 .sec-left{
    float: left;
    width: 55%;
    margin-right: 5%;
}

.section-3 .sec-right{
    float: left;
    width: 40%;
}
 .section-3 h2{
     border-bottom: 1px solid #ccc;
     padding: 10px;
     text-transform: capitalize;
     color: #888;
 }


 .paragraphs{
     padding: 10px;
     color: #9da9a9;
 }

 .paragraphs .par{
     margin-bottom: 8px;
     text-transform: lowercase;
 }
 .par span{
     color: #607bf2;
     font-weight: bold;
 }

 .sec-container{
    overflow: hidden;
    /* background: aliceblue; */
 }

 .sec-item:first-child{
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
 }
 .sec-content{
    float: left;
    width: 75%;
    padding: 10px;
 }
 .sec-content h3{
    margin-bottom: 5px;
    text-transform: capitalize;
    padding-bottom: 5px;
    color: #888;
 }

 .sec-content p{
     color: #9da9a9;
 }
 .img-container{
    height: 74px;
    width: 15%;
    float: left;
    padding: 10px;
 }

 .img-container img{
     width: 100%;
     height: 100%;
 }
/* end section-3 section */


/* start section-4 section */

.section-4{
    background-color: #e8e5e5;

}

.sec-4-content{
  width: 100%;
  overflow: hidden;
}

.sec-4-item {
    float: left;
    width: 20%;
    margin-right: 2.5%;
    padding: 5px;
}

.sec-4-item.middle{
    margin-left: 2.5%;
}
.sec-4-item:last-child{
    margin-right: 0;
    margin-left: 2.5%;
}

.sec-4-title{
    font-size: 19px;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px dashed #888;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #888;
}

.sec-4-desc{
    color: #888;
}

.sec-4-form{
    margin: 15px 0;
    position: relative;
}

.sec-4-form-control{
    margin-bottom: 10px;
}

.sec-4-links{
    list-style: none;
}
.sec-4-links li{
    display: inline-block;
}

.sec-4-links li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    color: #607BF2;
}


.sec-4-form-control{
    height: 40px;
    width: 220px;
    background-color: #607BF2;
    border: 0;
    border-radius: 3px;
    color: #fff;
}

.sec-4-btn {
    width: 36px;
    height: 50px;
    position: absolute;
    top: 18px;
    right: 0px;
    color: #2d2c2c;
    background-color: #607BF2;
    border: 0;
    border-radius: 3px;
    color: #fff;
 }

 ::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }

.links{
    list-style: none;
}

.links li{
    padding: 5px;
}

.links li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #607BF2;
}

.footer{
    background-color: #333;
    height: 70px;
    overflow: hidden;
    color: #fff;
    text-transform: capitalize;
}

.footer .left{
    float: left;
    padding: 25px 15px;
}

.footer .right{
    float: right;
    padding: 25px 15px;
}
/* .sec-4-item.middle li{
  display: block;
} */

/* .sec-4-item.middle li a{
    line-height: 1.8;    
} */


/* .sec-4-item:first-child{
    margin-right: 0;
    margin-left: 2.5%;
} */
/* end section-4 section */